:root {
  --photo-height: 250px;
}

body {
  margin: 0;
  height: 100%;
  font-family: Poppins, sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f55a5a;
  color: white;
  height: 60px;
  gap: 6px;
}

.nav--title {
  font-weight: 300;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  margin-top: 45px;
}

.card {
  display: flex;
  align-items: center;
  max-width: 600px;
  column-gap: 10px;
}

.card--image {
  border-radius: 5px;
  flex: 0 0 auto;
}

.location-details {
  align-self: center;
}

.location--row1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.location--region {
  margin-left: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-align: left;
}

.location--maps-link {
  font-size: 12px;
  margin-left: 12px;
  color: #918E9B;
  white-space: nowrap;
}

.location--title {
  font-size: 25px;
  padding: 0;
  margin: 0;
  line-height: 110%;
  margin-top: 7px;
}

.track-details {
  margin-top: 15px;
  font-size: 12px;
}

.track--distance {
  display: flex;
  gap: 6px;
  align-items: center;
}

.track--row2 {
  display: flex;
  gap: 8px;
}

.track--type {
  box-sizing: border-box;
  height: 17px;
  font-weight: 300;
  border: 0.5px dotted #f55a5a;
  padding: 0px 4px;
  border-radius: 5px;
}

.track-details p {
  margin-top: 9px;
  font-weight: 300;
}

.gray {
  font-size: 11px;
  color:#918E9B;
}

.footer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  background-color :#f55a5a;
  margin-top: 50px;
  padding: 12px;
  justify-content: center;
}

.footer a {
  color: white;
  font-weight: 100;
}

.footer a:visited {
  color: rgb(233, 233, 233);
}